# Rinkeby Network - XXX Contract
VITE_CONTRACT_ADDRESS="address"

# Hardhat network accounts
HARDHAT_RINKEBY_URL='https://eth-rinkeby.alchemyapi.io/v2/$$'
HARDHAT_RINKEBY_ACCOUNT="account"

HARDHAT_ROPSTEN_URL='https://eth-ropsten.alchemyapi.io/v2/$$'
HARDHAT_ROPSTEN_ACCOUNT="account"
